body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


div.new-game-form {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

div.new-game-form > div {
    flex: 2;
    margin: 8px;
}

div.new-game-form > div > input {
    flex: 2;
}

div.new-game-form > div > label {
    color: #aaaaaa;
    font-size: 0.9rem;
}

.input-error {
    border: 2px solid #dd4422;
}
